/* Layout ==================================== */
html, body, .grid-container {
    height: 100%;
    margin: 0;
}

.grid-container * {
 /* border: 1px solid red; */
 position: relative;
}

.grid-container *:after {
 /* content:attr(class); */
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr 1.4fr;
  grid-template-rows: 0.3fr 1.5fr 1fr 1.1fr 0.7fr;
  grid-template-areas: "Header Header Header Header" "Slideshow Slideshow Slideshow Slideshow" "About About About About" "Content Content Content Content" "Footer Footer Footer Footer";
}

.Header {
    grid-area: Header;
    height: 75px;
}

.Slideshow {
    grid-area: Slideshow;
}

.About {
    grid-area: About;
    background-color: #151314;
    margin-top: 6px;
    margin-bottom: 3px;
}

.Content {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Explore Explore Progress" "Explore Explore Progress";
  grid-area: Content;
  width: 1899px;
  margin-left: 3px;
}

.Explore {
    grid-area: Explore;
    width: 1295px;
}

.Progress {
    /* background-color: #151314; */
    grid-area: Progress;
    width: 595px;
}

.Footer {
    grid-area: Footer;
    background-color: #151314;
    margin-top: 3px;
}

.text-container {
    top: 6px;
    border: 0px;
}

/* End layout -- */


/* Header Section ============================= */
header {
    box-sizing: border-box;
    background-color: #151314;
    height: 70px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 100px;
    height: 52px;
}

.bttns-container {
    position: relative;
    width: 300px;
    left: 1600px;
    top: -60px;
    border: 0px;
}

.donate-bttn {
    position: absolute;
    top: 19px;
    right: 120px;
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: #a4ef2f;
    padding: 5px 15px 5px 15px;

}

.login-icon {
    position: absolute;
    top: 24px;
    right: 75px;
    width: 40px;
    height: 40px;
}

.search-icon {
    position: absolute;
    top: 32px;
    right: 25px;
    width: 25px;
    height: 25px;
}
/* End Header section -- */


body {
    /* background-color: #1d2637; */
    background-color: #212121;
    /* font-family: 'Montserrat', sans-serif; */
    font-style: light;
    font-size: 1vw;
}

h1, p {
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid rgba(153, 255, 51, .5);

    margin: 0;
    padding: 0;
}

.paragraph-font-color {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    color: white;
}

.header-font-color {
    font-family: 'Roboto', sans-serif;
    color: #a4ef2f;
}

h1.h1-class {
    font-style: normal;
    position: relative;
    top: 11px;
    margin: 0px;
    padding: 0px;
    left: 150px;
    width: 315px;
    height: 50px;
    text-align: left;
}


/* Footer website section ==================== */
footer {
    background-color: #151314;
    height: 160px;
    margin-top: 0px;
    margin-bottom: auto;

}

.footer-list-container {
    float: left;
    margin: 0px 25px 0px 25px;
}

.footer-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #645a5f;
    font-size: 17px;
    list-style: none;
}

.footer-list-item {
    color: #403a3d;
    margin: 2px 0px 2px 0px;
    font-family: 'Rubik', sans-serif;
}

.footer-list-item:hover {
    color: gray;
}

.footer-contact {
    font-family: 'Rubik', sans-serif;
    color: #403a3d;
    padding: 2px 15px 2px 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    margin: 0px 890px 0px 890px;
    text-align: center;
    position: relative;
    left: 700px;
    top: 50px;
}

.footer-support {
    font-family: 'Rubik', sans-serif;
    color: #403a3d;
    padding: 2px 15px 2px 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    margin: 0px 890px 0px 890px;
    text-align: center;
    position: relative;
    left: 825px;
    top: 19px;
}

.footer-contact:hover, .footer-support:hover {
    color: gray;
}
/* End Footer website section -- */


/* Loader animation =========================== */

#loader {
    position: relative;
    left: 930px;
    border: 0px;
    width: 100px;
    height: 115px;
}

.lds-grid {
    left: 0px;
    right: 100px
    top: none;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #a4ef2f;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* End Loader Animation -- */


/* Image gallery hover ======================= */

    /* Effect 1 - Scales image upon hover. */
.zoom {
    padding: 5px;
    background-color: white;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}   /* End Effect */


    /* Effect 2 - Zooms on image upon hover.*/
.img-container {
    position: relative;
    float: left;
    width: 317px;
    height: 211px;
    border: 5px;
    border: solid;
    border-color: #212121;
    overflow: hidden;
}

.img-item {
    position: absolute;
    top: 0;
    left: 0;
}

.img-item img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.img-container:hover .img-item img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}   /* End Effect */
/* End image gallery hover -- */


/* Modal Images effect ======================= */
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* End Modal Images effect -- */


/* Slideshow ================================= */
.text-on-image {
    position: relative;
    text-align: center;
    color: white;
    font-size: 3em;
}

.circle {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background: #a4ef2f;
    background-image: linear-gradient(#0cff00, #a4ef2f);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
}

.mySlides {
    display:none;
    width: 100%;
    border: 0px;
}

/* Slide show fading animation. */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End Slideshow -- */
